*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  padding: 0;
}

.loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
}
.loader img{
  width: 76%;
  height: 100%;
}

.loader p{
      font-size: 300%;
    color: aliceblue;
    position: absolute;
    top: 71%;
}

.images img{
  width: 100%;
  height: 100%;
}

.Residents{
  color: white;
  padding: 0 16%;
  text-align: center;
  margin-bottom: 1rem;
}

.Residents h1{
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.Residents_Info{
  display: flex;
  gap: 2rem;
  border-style: ridge;
  justify-content: space-around;
}

.Input_1{
  display: flex;
  justify-content: center;
}

.Input_1 input{
  width: 50%;
  height: 50%;
}

.Input_2{
  display: flex;
    justify-content: center;
    color: white;
    margin-top: 1rem;
    gap: 1rem;
  align-items: center;
}

.Input_2 img{
  width: 3%;
  height: 3%;
  filter: invert(1);
}

.tatus{
  display: flex;
  flex-direction: row;
  border: 1px solid;
  width: 40%;
  height: 9%;
  align-items: center;
  padding: 0.5rem;
  position: absolute;
  top: 7%;
  background-color:#062226;
}

.Card1{
  background-color:#0a2d32;
}

/* .App1{
  padding: 3% 0;
  background: linear-gradient(275deg, #181515, #ffffff00);
  box-shadow: inset 17px -6em 3em rgb(0 0 0 / 10%), 1em 1em 1em rgb(110 118 111 / 30%);
  color: aliceblue;
  #084851
} */

.residents_card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 0 2rem 2rem;
  color:white;
}

.sub_card {
  margin: 0 auto;
  border-radius: 6px;
  padding: 10px;
  height: 100%;
  position: relative;  
  background-color: #062226;
  box-shadow: inset 17px -6em 3em rgb(0 0 0 / 10%), 1em 1em 1em rgb(110 118 111 / 30%);
}

.sub_card img {
  width: 100%;
}

.Card2{
  position: relative;
  margin: 0 2%;
}

.loader2{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
}

.loader2 p{
  color: aliceblue;
  position: absolute;
  top: 90%;
  font-size: 2.4rem;
}

.loader2 img{
  width: 73%;
  height: 91%;
  border-radius: 50%;
}

.rotate {
  animation: rotation 2s infinite linear;
}

.texts{
  font-weight: 900;
}
.texts2{
  color: #c5c3c3;
}
.texts3{
  position: absolute;
  top: 90%;
  color: white;
}

.IsUnderfined{
  display: flex;
  justify-content: center;
}
.IsUnderfined img{
  width: 43vh;
  height: 43vh;
  object-fit: cover;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media (max-width: 576px) {
  .residents_card {
    grid-template-columns: repeat(1, 1fr);
  }
  .sub_card{
    margin: 0 20%;
  }
}

@media (max-width: 792px) {
  .Input_2 img{
    width: 5%;
    height: 5%;
  }
  .sub_card{
    font-size: 0.8rem;
  }
  .tatus{
    width: 46%;
  }
  .residents_card{
    font-size: 0.8rem;
  }
  .Residents{
    font-size: 0.8rem;
  }
}